@font-face {
  font-family: 'beryllico';
  src: url('../fonts/beryllico.eot?16980512');
  src: url('../fonts/beryllico.eot?16980512#iefix') format('embedded-opentype'),
       url('../fonts/beryllico.woff2?16980512') format('woff2'),
       url('../fonts/beryllico.woff?16980512') format('woff'),
       url('../fonts/beryllico.ttf?16980512') format('truetype'),
       url('../fonts/beryllico.svg?16980512#beryllico') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'beryllico';
    src: url('../font/beryllico.svg?16980512#beryllico') format('svg');
  }
}
*/
 
 [class^="ico-"]:before, [class*=" ico-"]:before {
  font-family: "beryllico";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 2em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 2em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ico-spin5:before { content: '\e800'; } /* '' */
.ico-soundcloud1:before { content: '\e801'; } /* '' */
.ico-spin6:before { content: '\e802'; } /* '' */
.ico-heart-empty:before { content: '\e803'; } /* '' */
.ico-heart:before { content: '\e804'; } /* '' */
.ico-star-empty:before { content: '\e805'; } /* '' */
.ico-star:before { content: '\e806'; } /* '' */
.ico-ok-empty:before { content: '\e807'; } /* '' */
.ico-search:before { content: '\e808'; } /* '' */
.ico-mail-empty:before { content: '\e809'; } /* '' */
.ico-pic:before { content: '\e80a'; } /* '' */
.ico-video:before { content: '\e80b'; } /* '' */
.ico-spin2:before { content: '\e80c'; } /* '' */
.ico-camera:before { content: '\e80d'; } /* '' */
.ico-spin1:before { content: '\e80e'; } /* '' */
.ico-check:before { content: '\e80f'; } /* '' */
.ico-download:before { content: '\e810'; } /* '' */
.ico-upload:before { content: '\e811'; } /* '' */
.ico-comment:before { content: '\e812'; } /* '' */
.ico-chat:before { content: '\e813'; } /* '' */
.ico-folder:before { content: '\e814'; } /* '' */
.ico-attention:before { content: '\e815'; } /* '' */
.ico-happy:before { content: '\e816'; } /* '' */
.ico-folder-open:before { content: '\e817'; } /* '' */
.ico-cog:before { content: '\e818'; } /* '' */
.ico-cogs:before { content: '\e819'; } /* '' */
.ico-ok:before { content: '\e81a'; } /* '' */
.ico-wink:before { content: '\e81b'; } /* '' */
.ico-emo-unhappy:before { content: '\e81c'; } /* '' */
.ico-down:before { content: '\e81d'; } /* '' */
.ico-left:before { content: '\e81e'; } /* '' */
.ico-right:before { content: '\e81f'; } /* '' */
.ico-up:before { content: '\e820'; } /* '' */
.ico-return:before { content: '\e821'; } /* '' */
.ico-update:before { content: '\e822'; } /* '' */
.ico-sync:before { content: '\e823'; } /* '' */
.ico-emo-sleep:before { content: '\e824'; } /* '' */
.ico-note1:before { content: '\e825'; } /* '' */
.ico-note2:before { content: '\e826'; } /* '' */
.ico-devil:before { content: '\e827'; } /* '' */
.ico-angry:before { content: '\e828'; } /* '' */
.ico-camera1:before { content: '\e829'; } /* '' */
.ico-emo-grin:before { content: '\e82a'; } /* '' */
.ico-vk:before { content: '\e82b'; } /* '' */
.ico-cancel-empty:before { content: '\e82c'; } /* '' */
.ico-android:before { content: '\e82d'; } /* '' */
.ico-wiki:before { content: '\e82e'; } /* '' */
.ico-emo-squint:before { content: '\e82f'; } /* '' */
.ico-dribbble:before { content: '\e830'; } /* '' */
.ico-flickr:before { content: '\e831'; } /* '' */
.ico-spin3:before { content: '\e832'; } /* '' */
.ico-stack:before { content: '\e833'; } /* '' */
.ico-spin4:before { content: '\e834'; } /* '' */
.ico-surprised:before { content: '\e835'; } /* '' */
.ico-tags:before { content: '\e836'; } /* '' */
.ico-tag:before { content: '\e837'; } /* '' */
.ico-location:before { content: '\e838'; } /* '' */
.ico-phone:before { content: '\e839'; } /* '' */
.ico-down-open:before { content: '\e83a'; } /* '' */
.ico-right-open:before { content: '\e83b'; } /* '' */
.ico-up-open:before { content: '\e83c'; } /* '' */
.ico-left-open:before { content: '\e83d'; } /* '' */
.ico-shuffle:before { content: '\e83e'; } /* '' */
.ico-cancel:before { content: '\e83f'; } /* '' */
.ico-skype-off:before { content: '\e840'; } /* '' */
.ico-skype-on:before { content: '\e841'; } /* '' */
.ico-pluto:before { content: '\e842'; } /* '' */
.ico-soundcloud:before { content: '\f089'; } /* '' */
.ico-phone-squared:before { content: '\f098'; } /* '' */
.ico-pinterest:before { content: '\f0d2'; } /* '' */
.ico-gplus:before { content: '\f0d5'; } /* '' */
.ico-mail:before { content: '\f0e0'; } /* '' */
.ico-exchange:before { content: '\f0ec'; } /* '' */
.ico-download-cloud:before { content: '\f0ed'; } /* '' */
.ico-upload-cloud:before { content: '\f0ee'; } /* '' */
.ico-angle-left:before { content: '\f104'; } /* '' */
.ico-angle-right:before { content: '\f105'; } /* '' */
.ico-angle-up:before { content: '\f106'; } /* '' */
.ico-angle-down:before { content: '\f107'; } /* '' */
.ico-desktop:before { content: '\f108'; } /* '' */
.ico-laptop:before { content: '\f109'; } /* '' */
.ico-tablet:before { content: '\f10a'; } /* '' */
.ico-mobile:before { content: '\f10b'; } /* '' */
.ico-quote-left:before { content: '\f10d'; } /* '' */
.ico-quote-right:before { content: '\f10e'; } /* '' */
.ico-folder-empty:before { content: '\f114'; } /* '' */
.ico-folder-empty-open:before { content: '\f115'; } /* '' */
.ico-gamepad:before { content: '\f11b'; } /* '' */
.ico-code:before { content: '\f121'; } /* '' */
.ico-direction:before { content: '\f124'; } /* '' */
.ico-mic:before { content: '\f130'; } /* '' */
.ico-mute:before { content: '\f131'; } /* '' */
.ico-doc:before { content: '\f15b'; } /* '' */
.ico-doc-text:before { content: '\f15c'; } /* '' */
.ico-youtube:before { content: '\f16a'; } /* '' */
.ico-stackoverflow:before { content: '\f16c'; } /* '' */
.ico-instagram:before { content: '\f16d'; } /* '' */
.ico-windows:before { content: '\f17a'; } /* '' */
.ico-female:before { content: '\f182'; } /* '' */
.ico-male:before { content: '\f183'; } /* '' */
.ico-box:before { content: '\f187'; } /* '' */
.ico-google:before { content: '\f1a0'; } /* '' */
.ico-reddit-full:before { content: '\f1a1'; } /* '' */
.ico-child:before { content: '\f1ae'; } /* '' */
.ico-behance:before { content: '\f1b4'; } /* '' */
.ico-steam:before { content: '\f1b6'; } /* '' */
.ico-deviantart:before { content: '\f1bd'; } /* '' */
.ico-twitch:before { content: '\f1e8'; } /* '' */
.ico-trash:before { content: '\f1f8'; } /* '' */
.ico-brush:before { content: '\f1fc'; } /* '' */
.ico-hexagon:before { content: '\f20e'; } /* '' */
.ico-diamond:before { content: '\f219'; } /* '' */
.ico-incognito:before { content: '\f21b'; } /* '' */
.ico-whatsapp:before { content: '\f232'; } /* '' */
.ico-sticky-note:before { content: '\f249'; } /* '' */
.ico-chrome:before { content: '\f268'; } /* '' */
.ico-amazon:before { content: '\f270'; } /* '' */
.ico-map:before { content: '\f279'; } /* '' */
.ico-comment-1:before { content: '\f27a'; } /* '' */
.ico-reddit:before { content: '\f281'; } /* '' */
.ico-creditcard:before { content: '\f283'; } /* '' */
.ico-hashtag:before { content: '\f292'; } /* '' */
.ico-question-circle:before { content: '\f29c'; } /* '' */
.ico-telegram:before { content: '\f2c6'; } /* '' */
.ico-snowflake:before { content: '\f2dc'; } /* '' */
.ico-facebook:before { content: '\f300'; } /* '' */
.ico-facebook-full:before { content: '\f301'; } /* '' */
.ico-ya:before { content: '\f305'; } /* '' */
.ico-skype:before { content: '\f30b'; } /* '' */
.ico-vimeo-full:before { content: '\f30e'; } /* '' */
.ico-vimeo:before { content: '\f30f'; } /* '' */
.ico-tumblr-full:before { content: '\f310'; } /* '' */
.ico-tumblr:before { content: '\f311'; } /* '' */
.ico-lastfm:before { content: '\f318'; } /* '' */
.ico-lastfm-circle:before { content: '\f322'; } /* '' */